<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link href="estilo.css" rel="stylesheet" type="text/css">
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>Ret-Car - Locação de veículos</title>
</meta></head>
<body>

<div id="GERAL">

	<div id="CONTEUDO">
	<%= form_for(@carro) do |f| %>
  	<% if @carro.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@carro.errors.count, "error") %> prohibited this carro from being saved:</h2>

	      <ul>
	      <% @carro.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
  	<% end %>
	<%= render 'form' %>

  </div>
  
<% end %>

 </div>

</body>
</html>